body {
  font: 1.0em "Firma Sans", sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: calc(100% - 20px);
  justify-content: center;
  align-items: center;
  background-color: #1A237E;
  font-size: 8pt;
  color: white;
}

footer a {
  color: white;
}

h1 {
  /*  */
}

h2 {
  scroll-margin-top: 200px; /* Buffers internal page links for height of fixed-Position Page Header and Navbar (https://css-tricks.com/hash-tag-links-padding/) */
  scroll-snap-margin-top: 200px; /* Required for Browsers under iOS 11 and older */
  text-align: center;
  color:darkblue;
}

/* Applied if Browser supports 'scroll-snap-margin' property */
@supports (scroll-margin-top: 0;) {  /* Disregard ';' Error */
  h2 {
    scroll-margin-top: 50px;
  }
}

h3 {
  color: darkblue;
}

hr { 
    display: block;
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #CFF3FF;
} 

input {
  margin-right: 25px;
}

label {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  margin-top: 100px; /* Avoids content overlay with fixed-Position Page Header and Navbar */
  font: 1.0em "Firma Sans", sans-serif;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

::placeholder {
  color: gray;
  opacity: 1; /* Firefox */
}

/* Deprecated Button Format */
/* Formatted 'Flat' Buttons */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_outline_buttons */
/* .btn {
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
} */

/* .formfield {
  display: flex;
  align-items: center;
} */

/* .submit {
  border-color: darkblue;
  background-color: rgb(223, 241, 252);
  color: darkblue;
} */

/* .submit:hover {
  border-color: lightskyblue;
  background-color: darkblue;
  color: white;
} */

/* 3D Button */
/* https://www.joshwcomeau.com/animation/3d-button/ */
.btn-push-background {
  margin-left: 10px;
  background: darkblue;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.btn-push-front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #0C5AD5;
  color: white;
  transform: translateY(-6px);
}

.btn-push-background:active .btn-push-front {
  transform: translateY(-2px);
}

.card {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 10px;

  border: 1px solid lightskyblue;
  box-shadow: 2px 3px #2980B9;
}

/* Deprecated Fixed-Position Page Header */
/* Fixed-Position Page Header */
/* https://www.w3schools.com/howto/howto_js_sticky_header.asp */
/* .fixed-header {
  padding: 10px 10px;
  background-color: darkblue;
  color: white;
  text-align: center;
} */

/* Sticky Header (Applied by JS) */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

/* .sticky + .content {
  padding-top: 102px;
} */

.label-wrap {
  display:flex;
}

/* Fixed-Position Navigation Bar */
/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.navbar {
  overflow: hidden;
  background-color: #1A237E;
  position: fixed; /* Set the navbar to fixed position */
  top: 10; /* Position the navbar at the top of the page */
  margin: 10;
  width: calc(100% - 20px);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #81D4FA;
  color: #0000ff;
}

#address_type {
  /* margin-right: 20px; */
  font-size: 12pt;
}

#address_select {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 20px;
}

#page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100px;
  top: 0px;
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: white;
  color: #1A237E;
}

#page-header h1 {
  margin-left: 20px;
  /* text-align: center; */
}



